# virtual env
venv/
.venv/

# data files
news.tsv
behaviors.tsv

# vector files
*.vec

# env files
.env

# Streamlit secrets
.streamlit/

# caches
__pycache__/
*.pyc

# Ignore large datasets and outputs
*.csv
*.index
*.npy
memory_topics.json

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/


.vscode/